
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    display: flex;
    justify-content:space-around;
    background-color: black;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 25px;
    align-items: flex-start;
    font-family: sans-serif;
    font-style: normal;
    padding: 10px;  
}
  .banner-bg{
      background-image:url(../Img/banner2.jpg);
      background-repeat: no-repeat;
      background-size:cover;
      background-position: bottom;
      height: 90vh;
  }
  .margin {
    position: absolute;
    top: 300px;
    left: 100px;
    color: white;

}
.p{
    position: relative;
    top: 200px;
    right:-100px;
    color:white;
    align-items: center;
    align-items: self-start;
}
.pro{
   position: absolute;
   margin-top: 200px;
   margin-left: -500px;
   background-color: white;
}
.pro-1{
    position: absolute;
    margin-top: 200px;
    margin-left: -400px;
    background-color: white;
    
   
}

  